<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= pageTitle %></title>
-->
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
    <h1>Login</h1>
        <!-- Following if statement checks for the errorMessage variable called from our 'getLogin' function in auth.js. If there it displays it.-->
        <% if (errorMessage) { %>
            <!--   <div class="user-message user-message--error"><%= errorMessage %></div> -->
            <%- errorMessage %> <!-- here I had to use '-' in front of errorMessage and not the '=' because I am using unescaped HTML in my tuner.js controller to show a link. -->
            <% } %>
        <form class="login-form" action="/login" method="POST" novalidate>
            
            <div class="form-control">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" value="">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password" name="password" id="password" value="<%= oldInput.password %>">
            </div>
            <button class="btn" type="submit">Login</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- When the button is pressed it passes this csrfToken to allow us to render our next view. -->  
        </form>
        <div class="centered">
            <a href="/reset">Reset Password</a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>