<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
    
</head>

<body>
<%- include('../includes/navigation.ejs') %>

    <main>
        <h1>Add/Edit Product</h1>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data"> <!-- this determines the submit button action. The 'enctype' value says the form will have mixed data, text and binary. -->
            <div class="form-control">
                <label for="title">Title</label>
                <input class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>" type="text" name="title" id="title" value="<% if (editing || hasError) { %><%=product.title%><% } %>"> <!-- in the 'value' field it says if 'editing' OR (||) 'hasError' -->
            </div>
         <!-- Block was removed to enable Image uploader. Uncomment it to re-enable Image URL
                <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>" type="text" name="imageUrl" id="imageUrl" value="<% if (editing || hasError) { %><%=product.imageUrl%><% } %>">
            </div> -->
            <div class="form-control">
                <label for="image">Image</label>
                <input type="file" name="image" id="image"> <!-- input type is 'file' which is built-in to the browser to let us pick a file. -->
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>" type="number" name="price" id="price" step="0.01" value="<% if (editing || hasError) { %><%=product.price%><% } %>"> <!-- to enable decimal input use the 'step' property. This on says "increment in 0.01 steps". -->
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>" name="description" id="description" rows="5"><% if (editing || hasError) { %><%=product.description%><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId"> <!-- the hidden input gets sent when the submit button is pressed. It is filled with the existing product.id if we are in editing mode.-->
            <% } %>

            <!-- the following line says, if you're in 'editing' mode display 'Update Product' on the button else display 'Add Product'  on the button. -->
            <button class="btn" type="submit"> <% if (editing) { %>Update Product<% } else { %>Add Product<% } %> </button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- When the button is pressed it passes this csrfToken to allow us to render our next view. -->
        </form>
    </main>
<%- include('../includes/end.ejs') %>