<div class="backdrop"></div>
<header class="main-header">
	<button id="side-menu-toggle">Menu</button>
	<nav class="main-header__nav">
		<ul class="main-header__item-list">
			<li class="main-header__logo">
				<a class="main-header__logo-link" href="/"><img src="/images/tuner-logo-sm.png"></a>
			</li>
		</ul>
		<ul class="main-header__item-list">
			<li class="main-header__item">
				<!-- this says that if the path is === to '/' then mark the class active, else mark it blank ''. The ? stands for if and the : stands for else. -->
				<a class="<%= path === '/' ? 'active' : '' %>" href="/">Search</a>
			</li>
		</ul>
		<ul class="main-header__item-list" id="main-header__user-management">
			<% if (isAuthenticated) { %>
			<li class="main-header__item">
				<a class="<%= path === '/profile' ? 'active' : '' %>" href="/profile">Profile</a>
			</li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-profile' ? 'active' : '' %>" href="/admin/add-profile">Add Profile</a>
            </li>
			<% } %>
			<% if (!isAuthenticated) { %> <!-- says "only show the following if not (!) Authenticated" -->
            <li class="main-header__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
			<% } else { %> <!-- the else statement says, show 'Logout' when authenticated -->
			<li class="main-header__item">
                <!-- on this form the action="/logout". That is a call to routes/auth.js "router.post /logout" to call the authController.postLogout function -->
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- When the Logout button is pressed it passes this csrfToken to allow us to render our next view. -->
                    <button type="submit">Logout</button>
                </form>
            </li>
		</ul>
		<% } %>
	</nav>
</header>

<nav class="mobile-nav">
	<ul class="main-header__item-list">
		<li class="main-header__logo">
			<a class="main-header__logo-link" href="/"><img src="/images/tuner-logo-sm.png"></a>
		</li>
	</ul>
	<ul class="mobile-nav__item-list">
		<li class="mobile-nav__item">
			<a class="<%= path === '/' ? 'active' : '' %>" href="/">Search</a>
		</li>
		<% if (isAuthenticated) { %>
		<li class="mobile-nav__item">
			<a class="<%= path === '/profile' ? 'active' : '' %>" href="/profile">Profile</a>
		</li>
		<li class="main-header__item">
			<a class="<%= path === '/admin/add-profile' ? 'active' : '' %>" href="/admin/add-profile">Add Profile</a>
		</li>
		<% } %>
		<% if (!isAuthenticated) { %>
		<li class="mobile-nav__item">
			<a class="<%= path === '/signup' ? 'active' : '' %>" href="/login">Signup</a>
		</li>
		<li class="mobile-nav__item">
			<a class="<%= path === '/login' ? 'active' : '' %>" href="/signup">Login</a>
		</li>
		<% } else { %>
		<li class="main-header__item">
			<!-- on this form the action="/logout". That is a call to routes/auth.js "router.post /logout" to call the authController.postLogout function -->
			<form action="/logout" method="post">
				<input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- When the Logout button is pressed it passes this csrfToken to allow us to render our next view. -->
				<button type="submit">Logout</button>
			</form>
		</li>
		<% } %>
</ul>
</nav>