<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= pageTitle %></title>
-->
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<%- include('../includes/navigation.ejs') %>

	<main class="centered">
		<form action="/message/" method=POST>
			To: <%= musician.firstName %> <%= musician.lastName %>
			Message:
			<textarea name=msg_text>

					</textarea>
			<button type="submit">Send Message</button>
			<input type="hidden" name="user" value="<%= musician.userId %>">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		</form>
	</main>
	<%- include('../includes/end.ejs') %>