<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= pageTitle %></title>
-->
<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main class="centered">
                <div class="welcome">
                    <h1><%= musician.firstName%> <%= musician.lastName %>'s Page</h1>
                <% if (isAuthenticated) { %>
                    <h2>Welcome <%= musician.firstName %>!</h2>
                <% } %>
                </div>
                <div class="profile-photo">
                    <img src="<%= musician.imageUrl %>" alt="<%= musician.firstName %> <%= musician.lastName %>">
                </div>
                <div class="user-data">
                    <h3>Instrument:</h3><p><%= musician.instruments %></p>
                    <h3>City:</h3><p><%= musician.location.city %></p>
                    <h3>State:</h3><p><%= musician.location.state %></p>
                    <h3>Country:</h3><p><%= musician.location.country %></p>
                </div>
                <form action="admin/edit-profile" method="post">
                    <button type="submit">test edit</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
                
				<% if (!selfProfile && isAuthenticated) { %>
					<a href="/message/<%= musician._id %>" class="btn card_actions__button">Contact</a>
				<% }%>
            </main>
            <%- include('../includes/end.ejs') %>