<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= pageTitle %></title>
-->
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<%- include('../includes/navigation.ejs') %>

	<main class="centered">
		<div class="welcome">
			<h1><%= musician.firstName%> <%= musician.lastName %>'s Page</h1>
			<% if (isAuthenticated) { %>
			<h2>Welcome <%= musician.firstName %>!</h2>
			<% } %>
		</div>
		<div class="profile-photo">
			<img src="<%= musician.imageUrl %>" alt="<%= musician.firstName %> <%= musician.lastName %>">
		</div>
		<div class="user-data">
			<h3>Instrument:</h3>
			<% for (var i = 0; i < musician.instruments.length; i++) {%><%= musician.instruments[i]%><% if (i<musician.instruments.length-1){%><%= ", "%><% }} %>
			<p><% if(musician.leadVocals||musician.backupVocals){%>Willing<%}else{%>Not willing<%}%> to do <% if (musician.leadVocals) {%>Lead <%} if(musician.leadVocals&&musician.backupVocals){%>and <%} if (musician.backupVocals) {%>Back up<%}%> vocals.</p>
			
			<h3>Genres:</h3>
			<% for (var i = 0; i < musician.genres.length; i++) {%><%= musician.genres[i]%><% if (i<musician.genres.length-1){%><%= ", "%><% }} %>
			<h3>Location:</h3>
			<p><%= musician.location.city %>, <%= musician.location.state %>, <%= musician.location.country %></p>
			<h3>Bio:</h3>
			<pre><%= musician.bio %></pre>
		</div>

		<% if (isAuthenticated) { %>
		<% if (selfProfile) { %>
		<a href="admin/edit-profile %>" class="btn card_actions__button">Edit Profile</a>
		<% }else {%>
		<a href="/message/<%= musician._id %>" class="btn card_actions__button">Contact</a>
		<% }%>
		<% }%>
	</main>
	<%- include('../includes/end.ejs') %>