<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= pageTitle %></title>
-->
<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>

    <main>
        <div class="search-page">
            <div class="search-box">
                <h1 class="search-box__heading">Search</h1>
                <div class="search-box__filters">
                    <form action="/search" method="post">
                        <input type="text" placeholder="Search by name">
                        <details>
                            <summary>Search by Location:</summary>
                            <input type="text" placeholder="Location" name="location">
                        </details>
                        <details>
                            <summary>Search by Name: </summary>
                            <input type="text" name="search_name">
                        </details>
                        <details>
                            <summary>Search for vocals:</summary>
                            <input type="checkbox" name="lead_vocals" class="search-box__checkbox" id="lead_vocals">
                            <label for="lead_vocals">Lead vocals</label>
                            <input type="checkbox" name="backup_vocals" class="search-box__checkbox" id="backup_vocals">
                            <label for="lead_vocals">Backup vocals</label>
                        </details>
                        <% if (instruments.length > 0) { %>
                            <details>
                                <summary>Search by instrument:</summary>
                                <% for (let instrument of intstruments) { %>
                                    <input type="checkbox" class="instrument_checkbox search-box__checkbox" name="<%= instrument.name %>" value="<%= instrument.name %>">
                                    <label for="<%= instrument.name %>"><%= instrument.name %></label>
                                <% } %> 
                            </details>
                        <% } %>
                        <% if (genres.length > 0) { %>
                            <details>
                                <summary>Search by genre:</summary>
                                <% for (let genre of genres) { %>
                                    <input type="checkbox" class="genre_checkbox search-box__checkbox" name="<%= genre.name %>" value="<%= genre.name %>">
                                    <label for="<%= genre.name %>"><%= genre.name %></label>
                                <% } %> 
                            </details>
                        <% } %>
                        <button class="search-box__button btn" type="submit" >Search</button>
                    </form>
                </div>
            </div>
            <div class="search-results">
            <% if ( mus.length > 0) { %>
                <div class="grid">
                    <% for (let musician of mus) { %>
                        <article class="card_musician">
                            <div class="card_image">
                                <img src="<%= musician.photo %>" alt="<%= musician.name %>">
                            </div>
                            <div class="card_content">
                                <header class="card_header">
                                    <h1 class="musician_name">Name: <%= musician.name %></h1>
                                    <h2 class="musician_instrument">Instrument: <%= musician.instrument %></h3>
                                </header>
                                <h3 class="musician_city">City: $<%= musician.city %></h4>
                                <p class="musician_address">Address: <%= musician.address %></p>
                            </div>
                            <div class="card_actions">
                                    <a href="/musicians/<%= musician._id %>" class="btn">Details</a>
                                <% if (isAuthenticated) { %>
                                    <%- include('../includes/contact.ejs', {musician: musician}) %>
                                <% }%>
                            </div>
                        </article>
                    <% } %>
                </div>
            <% } else { %>
                <h1>No musicians yet!</h1>
            <% } %>
            </div>
        </div>
    </main>
<%- include('./includes/end.ejs') %>