<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= pageTitle %></title>
-->
<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <link rel="stylesheet" href="/css/search.css">

    <main>
        <div class="search-page">
            <div class="search-box">
                <h1 class="search-box__heading">Search</h1>
                <div class="search-box__filters">
                    <form action="/search" method="post">
                        <!-- <input class="form-control" type="text" placeholder="Search by keyword" name="keyword"> -->
                        <details>
                            <summary>Search by city name:</summary>
                            <input class="form-control" type="text" placeholder="City name" name="city">
                        </details>
                        <details>
                            <summary>Search by Name: </summary>
                            <label class="form-control" for="first_name">First name: </label>
                            <input type="text" name="first_name" placeholder="Search by first name">
                            <br>
                            <label class="form-control" for="last_name">Last name: </label>
                            <input type="text" name="last_name" placeholder="Search by last name">
                        </details>
                        <details>
                            <summary>Search for vocals:</summary>
                            <input class="form-control" type="checkbox" name="lead_vocals" class="search-box__checkbox" id="lead_vocals">
                            <label class="form-control" for="lead_vocals">Lead vocals</label>
                            <input class="form-control" type="checkbox" name="backup_vocals" class="search-box__checkbox" id="backup_vocals">
                            <label class="form-control" for="backup_vocals">Backup vocals</label>
                        </details>
                            <details>
                                <summary>Search by instrument:</summary>
                                    <input class="form-control" type="text" name="instrument" placeholder="Search by instrument">
                            </details>
                            <details>
                                <summary>Search by genre:</summary>
                                <input class="form-control" type="text" name="genre" placeholder="Search by genre">
                            </details>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="search-box__button btn" type="submit" >Search</button>
                    </form>
                </div>
            </div>
            <div class="search-results">
            <% if ( mus.length > 0) { %>
                <div class="grid">
                    <% for (let musician of mus) { %>
                        <article class="card_musician">
                            <div class="card_image">
                                <img src="<%= musician.imageUrl %>" alt="<%= musician.musician.name %>">
                            </div>
                            <div class="card_content">
                                <header class="card_header">
                                    <h1 class="musician_name"><%= musician.musician.first_name + ' ' + musician.musician.last_name %></h1>
                                    <h2 class="musician_city"><%= musician.musician.location.city %></h4>
                                </header>
                                <div class="musician_instrument">
                                    <p>Instruments: <%= musician.musician.instruments.length > 0 ? "" : "None" %></p>
                                    <% if (musician.musician.instruments.length > 0) { %>
                                    <ul>
                                            <% for (i in musician.musician.instruments) { %>
                                            <li><%= musician.musician.instruments[i] %></li>
                                            <% } %>
                                    </ul>
                                    <% } %>
                                </div>
                                <div class="musician_genre">
                                    <p>Genres: <%= musician.musician.genres.length > 0 ? "" : "None" %></p>
                                    <% if (musician.musician.genres.length > 0) {  %>
                                    <ul>
                                        <% for (i in musician.musician.genres) { %>
                                            <li>
                                                <%= musician.musician.genres[i] %>
                                            </li>
                                        <% } %>
                                    </ul>
                                    <% } %>
                                </div>
                            </div>
                            <div class="card_actions">
                                    <a href="/musicians/<%= musician._id %>" class="btn card_actions__button">Details</a>
                                <% if (isAuthenticated) { %>
                                    <%- include('./includes/contact.ejs', {musician: musician}) %>
                                <% }%>
                            </div>
                        </article>
                    <% } %>
                </div>
            <% } else { %>
                <h1>No musicians found</h1>
            <% } %>
            </div>
        </div>
    </main>
<%- include('./includes/end.ejs') %>